*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: hsl(210, 29%, 76%);
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 5vh 0;
}

.input-container{
    display: flex;
    gap: 1vw;
}

ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

li{
    display: flex;
    gap: 0.5vw;
    background-color: rgb(95, 73, 159);
    border-radius: 6px;
    padding: 5px 10px;
    min-width: 400px;
}

button{
    background-color: rgb(152, 189, 70);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
}

h1{
    font-size: 2rem;
}

span{
    font-size: 1.3rem; 
}

.input-container input{
    padding: 8px;
    border-radius: 5px;
}